<tr data-id='<%= player['id'] %>'>
  <td class="pseudo"><%= player['pseudo'] %></td>
  <% if logged_in %>
    <td><%= player['email'] %></td>
  <% end %>
    <% if false %>
      <td class="is-hidden-mobile has-text-centered"><%= player['score_gci'] %></td>
      <td class="is-hidden-mobile has-text-centered"><%= player['score_gen'] %></td>
    <% end %>
      <td class="is-hidden-mobile has-text-centered"><%= player['score_geo'] %></td>
    <% if false %>
      <td class="score-total has-text-centered"><%= player['score_total'] %></td>
    <% end %>
  <% if logged_in %>
    <td><%= button_to 'Modifier', edit_player_path(player['id']), method: :get %></td>
  <% end %>
</tr>
